.footer {
  padding-top: 45px;
  margin-top: -81px;
  text-align: center;
  background-image: url(assets/img/footer-bgi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  .container {
    max-width: 1350px;
  }
  &__title {
    padding-top: 201px;
    max-width: 640px;
    margin: 0 auto;
    color: $white-color;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.18;
    span {
      letter-spacing: 1px;
    }
    @include xl {
      font-size: 3.375rem;
    }
    @include md {
      max-width: 420px;
      font-size: 2.25rem;
    }
  }
  &__email {
    margin: 34px auto 1px;
    display: flex;
    width: 100%;
    max-width: 747px;
    min-height: 80px;
    @include xl {
      max-width: 547px;
      min-height: 60px;
    }
    @include md {
      max-width: 347px;
      min-height: 40px;
    }
    .form-control {
      padding-left: 31px;
      color: $white-color;
      background-color: transparent;
      border-radius: 10px 0px 0px 10px;
      border: 1px solid $gray-color-light;
      @include sm {
        padding-left: 15px;
      }
      &::placeholder {
        color: $white-color;
        font-family: $font-primary;
        font-size: 1.375rem;
        font-weight: 400;
        line-height: 1.45;
        padding-top: 14px;
        @include t05s;
        @include xl {
          font-size: 1rem;
        }
        @include md {
          font-size: 0.875rem;
        }
      }
      &:hover {
        @include t05s;
        box-shadow: none;
        border: 1px solid $white-color;
        &::placeholder {
          color: $footer-spec-color;
        }
      }
      &:focus {
        @include t05s;
        box-shadow: none;
        &::placeholder {
          color: transparent;
        }
      }
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 221px;
    .btn {
      border-radius: 0px 10px 10px 0px;
      border: 1px solid $gray-color-light;
      background-color: $primary-color;
      color: $white-color;
      font-family: $font-primary;
      font-size: 1.375rem;
      font-weight: 400;
      line-height: 1.45;
      width: 100%;
      @include t05s;
      @include xl {
        font-size: 1rem;
      }
      @include md {
        font-size: 0.875rem;
      }
      &:hover,
      &:focus-visible {
        @include t05s;
        color: $footer-spec-color;
        box-shadow: none;
        background-color: transparent;
        border: 1px solid $white-color;
      }
      &:active {
        @include t05s;
        color: $footer-spec-color;
        border: 1px solid $gray-color-light;
      }
    }
  }
  .contacts {
    margin-top: 150px;
    @include md {
      margin-top: 50px;
    }
    @include sm {
      margin-top: 30px;
    }
    &__item {
      @include unlist;
      text-align: left;
      @include t05s;
      &:hover {
        transform: translate(5px, 0);
        @include t05s;
        .contacts__link {
          color: $white-color;
        }
      }
      @include md {
        text-align: center;
      }
    }
    &__title {
      text-align: left;
      color: $white-color;
      @include md {
        text-align: center;
      }
    }
    &__link {
      @include t05s;
      text-decoration: none;
      color: $footer-spec-color;
    }
    &__icon-box {
      padding-left: 6px;
      padding-top: 11px;
      text-align: left;
      @include md {
        text-align: center;
      }
    }
    img {
      width: 94px;
      height: 16px;
    }
  }
  .spelon {
    .contacts__title {
      padding-bottom: 33px;
      padding-left: 6px;
    }
    .contacts__item {
      margin-top: -2px;
      margin-left: -29px;
      margin-bottom: 13px;
    }
  }

  .resources {
    margin-left: 11px;
    @include md {
      display: none;
    }
    .contacts__title {
      padding-top: 16px;
      padding-bottom: 20px;
    }
    .contacts__item {
      margin-left: -28px;
      margin-bottom: 18px;
    }
  }

  .company {
    margin-left: 68px;
    @include lg {
      display: none;
    }
    .contacts__title {
      padding-top: 16px;
      padding-bottom: 20px;
    }
    .contacts__item {
      margin-left: -30px;
      margin-bottom: 18px;
    }
  }
  .legal {
    margin-left: 19px;
    @include xl {
      display: none;
    }
    .contacts__title {
      padding-top: 16px;
      padding-bottom: 20px;
    }
    .contacts__item {
      margin-left: -32px;
      margin-bottom: 18px;
    }
  }

  &__bottom {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0937;
    height: 59px;
    span {
      padding: 20px 116px 20px 1px;
      position: relative;
      color: $white-color;
      font-family: $font-secondary;
      &::after {
        content: "";
        position: absolute;
        top: 22px;
        left: -23px;
        width: 16px;
        height: 16px;
        background-image: url(assets/img/copyright.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
      @include xxl {
        padding: 15px;
        &::after {
          top: 20px;
          left: -5px;
        }
      }
    }
  }
}
