body {
  font-family: $font-primary;
  font-size: $font-size;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $secondary-color;
  font-family: $font-title;
}

.for-validator {
  @include visually-hidden;
}
