.graphic {
  margin: 43px auto -43px;
  &__img-box {
    position: relative;
    width: 100%;
    max-width: 1106px;
    height: 846px;
    margin: 0 auto;
    @include xxl-plus {
      left: -10px;
    }
  }
  &__image {
    @include abs-position;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
      content: "";
      position: absolute;
      top: 128px;
      left: -66px;
      width: 100%;
      max-width: 131px;
      height: 539px;
      background-image: url(assets/img/left.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include xxl {
        display: none;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 91px;
      right: -146px;
      width: 100%;
      max-width: 207px;
      height: 631px;
      background-image: url(assets/img/right.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include xxl {
        display: none;
      }
    }
  }
}
