header {
  .navbar-collapse {
    display: flex;
    justify-content: flex-end;
    @include lg {
      position: relative;
      top: 10px;
      background-color: #3e3d3db8;
      margin: 0 -50px;
    }
  }
  .navbar {
    max-width: 1340px;
    margin: 20px auto 0;
    .container-fluid {
      display: flex;
      justify-content: flex-start;
    }
    .navbar-brand {
      img {
        @include sm {
          width: 80px;
          margin: 0;
          z-index: -1;
        }
        @media screen and (max-width: 350px) {
          @include visually-hidden;
        }
      }
    }
    .navbar-nav {
      max-width: 525px;
      margin-right: 430px;
      @include xl {
        margin-right: 300px;
      }
      @include lg {
        margin: auto;
      }
      .nav-item {
        margin-right: 25.5px;
        margin-left: 25.5px;
        &:last-child {
          margin-right: 0;
        }
        .nav-link {
          margin: 0;
          color: #050038;
          font-family: $font-primary;
          font-weight: 500;
          @include lg {
            color: #ffffff;
          }
          &:hover {
            color: #ff0000;
          }
        }
      }
    }
  }
  .navbar-right {
    position: absolute;
    right: 11px;
    top: 4px;
    width: 100%;
    max-width: 270px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include sm {
      max-width: 170px;
      top: 8px;
    }
    &__link {
      text-decoration: none;
      margin-right: 35px;
      font-family: $font-secondary;
      font-size: 18px;
      color: #050038;
      @include xl {
        margin-right: 15px;
        padding: 0;
      }
      @include sm {
        margin-right: 5px;
        font-size: 16px;
        white-space: nowrap;
      }
    }
    &__button {
      padding-right: 25px;
      color: #ffffff;
      font-family: $font-primary;
      font-size: 18px;
      flex-shrink: 0;
      width: 100%;
      max-width: 180px;
      min-height: 50px;
      border: 2px solid transparent;
      border-radius: 30px;
      background-color: #0555ff;
      &:hover {
        color: #0555ff;
        border: 2px solid #0555ff;
      }
      @include xl {
        padding-right: 12px;
      }
      @include sm {
        max-width: 100px;
        min-height: 30px;
        font-size: 14px;
        white-space: nowrap;
        text-align: center;
      }
    }
  }
  .navbar-toggler {
    @include sm {
      margin-right: 30px;
      margin-left: 0;
    }
  }
}
