header {
  .navbar-collapse {
    display: flex;
    justify-content: flex-end;
    @include lg {
      position: relative;
      top: 10px;
      background-color: lighten($primary-color, 45%);
      margin: 0 -50px;
    }
  }
  .navbar {
    max-width: 1340px;
    margin: 25px auto 0;
    .container-fluid {
      display: flex;
      justify-content: flex-start;
    }
    .navbar-brand {
      img {
        @include sm {
          width: 80px;
          margin: 0;
          z-index: -1;
        }
        @media screen and (max-width: 350px) {
          @include visually-hidden;
        }
      }
    }
    .navbar-nav {
      max-width: 525px;
      margin-right: 430px;
      @include xl {
        margin-right: 400px;
      }
      @include lg {
        margin: auto;
      }
      .nav-item {
        margin-right: 25.5px;
        margin-left: 25.5px;
        &:last-child {
          margin-right: 0;
        }
        .nav-link {
          margin: 0;
          color: $secondary-color;
          font-weight: 500;
          @include t05s;
          &:hover {
            transform: translate(0, -5px);
            @include t05s;
            color: $primary-color;
          }
        }
      }
    }
  }
  .navbar-right {
    position: absolute;
    right: 11px;
    top: 4px;
    width: 100%;
    max-width: 270px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include sm {
      max-width: 170px;
      top: 8px;
    }
    &__link {
      text-decoration: none;
      margin-right: 35px;
      font-family: $font-secondary;
      font-size: 1.125rem;
      color: $secondary-color;
      @include t05s;
      &:hover {
        transform: translate(0, 5px);
        @include t05s;
        color: $primary-color;
      }
      @include xl {
        margin-right: 15px;
        padding: 0;
      }
      @include sm {
        margin-right: 5px;
        font-size: 1rem;
        white-space: nowrap;
      }
    }
    &__button {
      padding-right: 25px;
      color: $white-color;
      font-size: 1.125rem;
      width: 100%;
      max-width: 180px;
      min-height: 50px;
      border: 2px solid transparent;
      border-radius: 30px;
      background-color: $primary-color;
      @include t05s;
      &:hover {
        @include t05s;
        color: $primary-color;
        border: 2px solid $primary-color;
      }
      @include xl {
        padding-right: 12px;
      }
      @include sm {
        max-width: 110px;
        min-height: 30px;
        font-size: 0.875rem;
        white-space: nowrap;
      }
    }
  }
  .navbar-toggler {
    @include t05s;
    &:hover,
    &:focus {
      background-color: lighten($primary-color, 45%);
      @include t05s;
      border: 1px solid $primary-color;
      box-shadow: none;
    }
    @include sm {
      margin-right: 30px;
      margin-left: 0;
    }
  }
}
