.slider {
  margin: 100px 12px;
  .slider-title {
    text-align: center;
    margin-top: -43px;
    margin-bottom: 26px;
    font-family: $font-primary;
  }
  .first-screen-slider {
    max-width: 1050px;
    margin: 0 auto;
    .slick-list {
      margin-bottom: 42px;
      .slick-slide {
        height: 100%;
        min-height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 0 20px;
      }
    }
  }
  .slick-dots {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    .slick-active {
      position: relative;
      top: 16px;
      width: 30px;
      height: 3px;
      background-color: #050038;
      button {
        @include visually-hidden;
      }
    }
    li {
      list-style: none;
      margin: 0 3px;
    }
    button {
      outline: none;
      font-size: 0;
      padding: 0;
      width: 30px;
      height: 3px;
      opacity: 0.9;
      background-color: transparent;
      border: 1px solid #050038;
    }
  }
}
