.slider {
  margin: 100px 0 20px;
  text-align: center;
  .slider-text {
    text-align: center;
    margin-bottom: 26px;
    font-family: $font-primary;
  }
  .slider-title {
    margin: 200px auto 30px;
    max-width: 895px;
    font-size: 2.625rem;
    font-weight: 700;
    @include lg {
      margin: 150px auto 30px;
      font-size: 2.25rem;
    }
    @include sm {
      margin: 50px auto 30px;
      font-size: 1.5rem;
    }
  }
  .slider-descript {
    max-width: 780px;
    margin: 0 auto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    @include lg {
      font-size: 1.125rem;
    }
    @include sm {
      font-size: 1rem;
    }
  }
  .slider-button {
    color: $primary-color;
    font-size: 0.937rem;
    line-height: 2.13;
    position: relative;
    margin-top: 45px;
    border-radius: 30px;
    background-color: #0555ff1a;
    width: 100%;
    max-width: 245px;
    min-height: 50px;
    padding-left: 50px;
    border: 1px solid $primary-color;
    transition: 0.5s;
    @include sm {
      max-width: 345px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 11px;
      left: 20px;
      width: 27px;
      height: 27px;
      background-image: url(assets/img/button-img.svg);
    }
    &:hover {
      transition: 0.5s;
      border: 1px solid $primary-color;
      background-color: $primary-color;
      color: $white-color;
    }
  }
  .first-screen-slider {
    max-width: 1050px;
    margin: 0 auto;
    .slick-list {
      margin-bottom: 42px;
      .slick-slide {
        height: 100%;
        min-height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 0 20px;
      }
    }
  }
  .slick-dots {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    .slick-active {
      position: relative;
      top: 17px;
      width: 30px;
      height: 3px;
      background-color: $secondary-color;
      @include sm {
        top: 14px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
      button {
        @include visually-hidden;
      }
    }
    li {
      list-style: none;
      margin: 0 3px;
    }
    button {
      outline: none;
      font-size: 0rem;
      padding: 0;
      width: 30px;
      height: 3px;
      opacity: 0.9;
      background-color: transparent;
      border: 1px solid $secondary-color;
      @include sm {
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
    }
  }
}
