///fonts///
$font-primary: "Inter", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-title: "CircularStd", sans-serif;
$font-size: 16px;

///colors///
$primary-color: #0555ff;
$secondary-color: #050038;
$white-color: #ffffff;
$gray-color-light: #ffffff80;
$gray-color: #5b5e6d;
$footer-spec-color: #7884a6;

///size///
$gap-sm: 10px;
$gap: 20px;
$gap-lg: 45px;

///mixins///
@mixin abs-position($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin unlist($m: 0, $p: 0) {
  margin: $m;
  padding: $p;
  list-style: none;
}
@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin xxl-plus {
  @media screen and (max-width: 1499px) {
    @content;
  }
}

@mixin xxl {
  @media screen and (max-width: 1399px) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 575px) {
    @content;
  }
}
