<section class="dbu">
  <div class="container-fluid">
    <div class="container first">
      <div class="row">
        <div class="col-xl-7">
          <div class="content-box">
            <h2 class="content-box__title">Develop</h2>
            <p class="content-box__descript">Develop for all your users' devices with just one codebase. Add fast
              refresh,
              true native capabilities, and your creativity, and you'll have the app your users want in no time. </p>
            <a class="content-box__link" href="#">Learn more about spellon</a>
          </div>
        </div>
        <div class="col-xl-5">
          <div class="img-box">
            <a href="assets/img/develop-img-big.png" data-fancybox data-caption="develop">
              <img class="img-fluid" src="assets/img/develop-img.png" alt="develop">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container second">
      <div class="row">
        <div class="col-xl-7 order-xl-last">
          <div class="content-box">
            <h2 class="content-box__title">Build</h2>
            <p class="content-box__descript">Develop for all your users' devices with just one codebase. Add fast
              refresh,
              true native capabilities, and your
              creativity, and you'll have the app your users want in no time.
            </p>
            <a class="content-box__link" href="#">Learn more about spellon</a>
          </div>
        </div>
        <div class="col-xl-5">
          <div class="img-box">
            <a href="assets/img/build-img-big.png" data-fancybox data-caption="build">
              <img class="img-fluid" src="assets/img/build-img.png" alt="build">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container third">
      <div class="row">
        <div class="col-xl-7">
          <div class="content-box">
            <h2 class="content-box__title">Update</h2>
            <p class="content-box__descript">Develop for all your users' devices with just one codebase. Add fast
              refresh,
              true native capabilities, and your creativity, and you'll have the app your users want in no time. </p>
            <a class="content-box__link" href="#">Learn more about spellon</a>
          </div>
        </div>
        <div class="col-xl-5">
          <div class="img-box">
            <a href="assets/img/update-img-big.png" data-fancybox data-caption="update">
              <img class="img-fluid" src="assets/img/update-img.png" alt="update">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>