<footer class="footer">
  <div class="container">
    <h2 class="footer__title"><span>It’s easy to get</span> started. Start now.</h2>
    <form action="#">
      <div class="footer__email">
        <input type="email" class="form-control" placeholder="Enter your email">
        <div class="footer__button">
          <button type="submit" class="btn ">Get Started</button>
        </div>
      </div>
    </form>
  </div>
  <div class="container contacts">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-xl-5 spelon">
        <h3 class="contacts__title">Spellon.</h3>
        <ul>
          <li class="contacts__item "><a class="contacts__link" href="#">Nort West, South New Work,United
              State</a>
          </li>
          <li class="contacts__item"><a class="contacts__link" href="#">+1 246-254-0569</a></li>
          <li class="contacts__item"><a class="contacts__link" href="#">Info@example.com</a></li>
        </ul>
        <div class="contacts__icon-box">
          <img class="contacts__icon" src="assets/img/link.svg" alt="links">
        </div>
      </div>
      <div class="col-md-5 col-lg-3 col-xl-2 resources">
        <h5 class="contacts__title ">Resources</h5>
        <ul>
          <li class="contacts__item"><a class="contacts__link" href="#">Docs</a></li>
          <li class="contacts__item"><a class="contacts__link" href="#">Forums</a></li>
          <li class="contacts__item"><a class="contacts__link" href="#">Jobs</a></li>
          <li class="contacts__item"><a class="contacts__link" href="#">Join Discord</a></li>
          <li class="contacts__item"><a class="contacts__link" href="#">Consultants</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-xl-2 company">
        <h5 class="contacts__title">Company</h5>
        <ul>
          <li class="contacts__item"><a class="contacts__link" href="#">About Us</a></li>
          <li class="contacts__item"><a class="contacts__link" href="#">Careers</a></li>
          <li class="contacts__item"><a class="contacts__link" href="#">Block Chain</a></li>
          <li class="contacts__item"><a class="contacts__link" href="#">Privacy Policy</a></li>
          <li class="contacts__item"><a class="contacts__link" href="#">Terms & Condition</a></li>
        </ul>
      </div>
      <div class="col-xl-2 legal">
        <h5 class="contacts__title">Legal</h5>
        <ul>
          <li class="contacts__item"><a class="contacts__link" href="#">Terms of use</a></li>
          <li class="contacts__item"><a class="contacts__link" href="#">Privacy policy</a></li>
          <li class="contacts__item"><a class="contacts__link" href="#">GDPR/CCPA explained</a></li>
          <li class="contacts__item"><a class="contacts__link" href="#">Guidlines</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="footer__bottom">
    <span>2021 Hello All right reserved.</span>
  </div>

</footer>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery-3.6.4.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>

</html>