<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/img/HelloUI.png" alt="HelloUI"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form action="#">
        <div class="navbar-right">
          <a class="navbar-right__link" href="#">Sign in</a>
          <button class="btn navbar-right__button" type="submit">Try for Free</button>
        </div>
      </form>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#graphic">Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#slider">Freatures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dbu">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews">Jobs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>