<section class="reviews">
  <div class="container">
    <p class="reviews__text">Over 2000 businesses, marketers and creatives use Suparise to grow their Instagram.
    </p>
    <h2 class="reviews__title">Don’t just take our word for it
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 card">
        <div class="reviews-card">
          <div class="reviews-card__img">
            <img src="assets/img/face-1.png" alt="face">
          </div>
          <h6 class="reviews-card__name">Lisa Miller</h6>
          <h6 class="reviews-card__name-fb">@LisaMillerCool</h6>
          <p class="reviews-card__descript">It’s difficult to make a tool that is powerful, easy video
            to use, and stays out of the way. @expo has student
            figured it out and it’s one of the most and they want to
            pleasurable dev experiences I’ve had in my seen that
            career goal.</p>
          <p class="reviews-card__descript">It’s difficult to make a tool that is powerful, easy video
            to use, and stays out of the way. @expo has student
            figured it out and it’s one of the most and they want to
            pleasurable dev experiences I’ve had in my seen that
            career goal.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 card">
        <div class="reviews-card">
          <div class="reviews-card__img">
            <img src="assets/img/face-2.png" alt="face">
          </div>
          <h6 class="reviews-card__name">Bri</h6>
          <h6 class="reviews-card__name-fb">@BriDehlinger</h6>
          <p class="reviews-card__descript">It’s difficult to make a tool that is powerful, easy video
            to use, and stays out of the way. @expo has student
            figured it out and it’s one of the most and they want to
            pleasurable dev experiences I’ve had in my seen that
            career goal.</p>
          <p class="reviews-card__descript"></p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 card">
        <div class="reviews-card">
          <div class="reviews-card__img">
            <img src="assets/img/face-3.png" alt="face">
          </div>
          <h6 class="reviews-card__name">CarolMcKeon</h6>
          <h6 class="reviews-card__name-fb">@LisaMillerCool</h6>
          <p class="reviews-card__descript">It’s difficult to make a tool that is powerful, easy video
            to use, and stays out of the way. @expo has student
            figured it out and it’s one of the most and they want to
            pleasurable dev experiences I’ve had in my seen that
            career goal.</p>
          <p class="reviews-card__descript">It’s difficult to make a tool that is powerful, easy video
            to use, and stays out of the way. @expo has student
            figured it out.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 card">
        <div class="reviews-card">
          <div class="reviews-card__img">
            <img src="assets/img/face-4.png" alt="face">
          </div>
          <h6 class="reviews-card__name">Wes Johnson</h6>
          <h6 class="reviews-card__name-fb">@LisaMillerCool</h6>
          <p class="reviews-card__descript">It’s difficult to make a tool that is powerful, easy video
            to use, and stays out of the way. @expo has student
            figured it out and it’s one of the most and they want to
            pleasurable dev experiences I’ve had in my seen that
            career goal.</p>
          <p class="reviews-card__descript"></p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 card">
        <div class="reviews-card">
          <div class="reviews-card__img">
            <img src="assets/img/face-5.png" alt="face">
          </div>
          <h6 class="reviews-card__name">Lisa Miller</h6>
          <h6 class="reviews-card__name-fb">@LisaMillerCool</h6>
          <p class="reviews-card__descript">It’s difficult to make a tool that is powerful, easy video
            to use, and stays out of the way. @expo has student
            figured it out and it’s one of the most and they want to
            pleasurable dev experiences I’ve had in my seen that
            career goal.</p>
          <p class="reviews-card__descript">It’s difficult to make a tool that is powerful, easy video
            to use.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 card">
        <div class="reviews-card">
          <div class="reviews-card__img">
            <img src="assets/img/face-6.png" alt="face">
          </div>
          <h6 class="reviews-card__name">Traver</h6>
          <h6 class="reviews-card__name-fb">@LisaMillerCool</h6>
          <p class="reviews-card__descript">It’s difficult to make a tool that is powerful, easy video
            to use, and stays out of the way. @expo has student
            figured it out and it’s one of the most and they want to
            pleasurable dev experiences I’ve had in my seen that
            career goal.</p>
          <p class="reviews-card__descript">It’s difficult to make a tool that is powerful, easy video
            to use, and stays out of the way. @expo has student
            figured it out and it’s one of the most and they want to
            pleasurable dev experiences I’ve had in my seen that
            career goal.</p>
        </div>
      </div>

    </div>
  </div>
</section>