<section class="slider">
  <div class="container">
    <h6 class="slider-title">More than 1.8 million people across 50,000 companies choose Spellon</h6>
    <div class="first-screen-slider">
      <div class="screen-slider" style="background-image: url(assets/img/slid-1.png);">
      </div>
      <div class="screen-slider" style="background-image: url(assets/img/slid-2.png);">
      </div>
      <div class="screen-slider" style="background-image: url(assets/img/slid-3.png);">
      </div>
      <div class="screen-slider" style="background-image: url(assets/img/slid-4.png);">
      </div>
      <div class="screen-slider" style="background-image: url(assets/img/slid-5.png);">
      </div>
      <div class="screen-slider" style="background-image: url(assets/img/slid-6.png);">
      </div>
      <div class="screen-slider" style="background-image: url(assets/img/slid-1.png);">
      </div>
      <div class="screen-slider" style="background-image: url(assets/img/slid-2.png);">
      </div>
      <div class="screen-slider" style="background-image: url(assets/img/slid-3.png);">
      </div>
      <div class="screen-slider" style="background-image: url(assets/img/slid-4.png);">
      </div>
      <div class="screen-slider" style="background-image: url(assets/img/slid-5.png);">
      </div>
      <div class="screen-slider" style="background-image: url(assets/img/slid-6.png);">
      </div>
    </div>
  </div>
</section>